*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: blue;
    text-align: center;
    margin-bottom: 50px;
}
.hyd{
    text-align: center;
    color:white;
    background-color: rgb(71, 218, 144);
}

table{
    border: none;
    
}

.yellow{
    
    background-color: rgb(247, 247, 80);
    text-align: center;
    color: white;
}

.orange{
    background-color: rgb(240, 170, 41);
    text-align: center;
    color: white;
}

.darkblue{
    background-color: rgb(86, 86, 231);
    text-align: center;
    color: white;
}

.gray{
    background-color: rgb(175, 171, 171);
    text-align: center;
    color: white;
}

.black{
    background-color: rgb(46, 45, 45);
    text-align: center;
    color: white;
}

.red{
    background-color: rgb(238, 50, 50);
    text-align: center;
    color: white;

}

.blue{
    background-color: rgb(60, 196, 241);
    text-align: center;
    color: white;
}

.purple{
    background-color: rgb(230, 56, 230);
    text-align: center;
    color: white;
}
.green{
    background-color:chartreuse ;
    text-align: center;
    color: aliceblue;
}

.nb{
    border: none;
}
.nv{
    border: none;
    height: 20px;
}
b{
    font-size: 20px;
}
