*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(95, 93, 93);
    color: white;
    text-align: center;
    padding:30px ;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.box2{
    background-color: rgb(190, 26, 26);
    width: 100px;
    height: 100px;
    margin-left: 630px;
    color: white;
    text-align: center;
    line-height: 100px;
    border: 2px solid rgb(214, 148, 170);
    font-weight: 500;
    position: absolute;
}
section{
    margin-top: 40px;
    margin-left: 20px;
}
.unitbox{
    background-color: rgb(230, 229, 229);
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-right: 20px;
    border-radius: 10px;
}
.box1{
    background-color: rgb(68, 66, 66);
    width:100px ;
    height: 100px;
    margin-top: 30px;
    margin-left: 230px;
    text-align: center;
    color: white;
    line-height: 100px;
    border: 2px solid rgb(187, 186, 186);
    position: absolute;
}
.box3{
    background-color: rgb(68, 66, 66);
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 930px;
    text-align: center;
    color: white;
    line-height: 100px;
    border: 2px solid rgb(187, 186, 186);
}
.des{
    background-color: rgb(230, 229, 229);
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-right: 20px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 30px;
}
footer{
    background-color: rgb(95, 93, 93);
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
}
a{
    color: rgb(83, 179, 218);
}

