*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(1, 1, 51);
    color: white;
    text-align: center;
    padding: 40px;
    
}
h1{
    margin-bottom: 25px;
}
 nav ul{
     display: flex;
     list-style: none;
     justify-content: center;
     gap: 20px;
}
nav ul li a{
    
    text-decoration: none;
    color: white;
   
}
.html{
    text-align: center;
    padding-top: 90px;
}
p{
    padding-top: 20px;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    cursor: pointer;
}

#our{
    text-align: center;
    margin-top:100px ;
}
/* html */
.box1{
    background-color: white;
    height: 130px;
    width: 300px;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
    margin-left: 200px;
    border: 2px solid rgb(172, 170, 170);
    cursor: pointer;
    position: absolute;
}
.box2{
    background-color: white;
    height: 150px;
    width: 300px;
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;
    margin-left: 520px;
    border: 2px solid rgb(172, 170, 170);
    cursor: pointer;
    position: absolute;
}

.box3{
    background-color: white;
    height: 130px;
    width: 300px;
    text-align: center;
    padding-top: 30px;
    border: 2px solid rgb(172, 170, 170);
    margin-left: 840px;
    margin-top:50px ;
    cursor: pointer;
}
footer{
     background-color: rgb(1, 1, 51);
     text-align: center;
     color: white;
     margin-top: 40px;
     padding: 30px;
}
.para{
    padding-top: 10px;
    padding-bottom: 15px;
}
a{
    color: yellow;
}
